:root {
  --heading-font-family: "Poltawski Nowy", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #18392b;
  --accent-color: #f48c06;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-color);
  width: 100%;
}

nav {
  font-family: var(--default-font-family);
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #f48c06,
    #e85a19,
    #e43603
  );
}

a.navbar-brand,
a.nav-link,
a.nav-link.active {
  color: var(--primary-color);
  font-weight: bolder;
}

a.nav-link:hover {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: #fff;
  padding-left: 5px;
}

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 10%;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.bg-img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: var(--primary-color);
}

.bg-img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}

.hero-info {
  font-family: var(--heading-font-family);
  color: #fff;
  text-align: center;
  margin: 60px 20px 20px 20px;
}

.hero-info h1 {
  font-size: 60px;
  margin-top: 80px;
}

/* .shae-pic {
  width: 100px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.337);
  display: flex;
  float: right;
  margin: 0 20px 0 20px;
} */

.btn-hover {
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--default-font-family);
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #f48c06,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
